<div class="footer">
  <p>Copyright © 2025 JobPortal. All rights reserved.</p>
  <p>
    <a href="#">Privacy Policy</a> •
    <a href="#">Terms of Service</a> •
    <a href="#">Contact</a>
  </p>
</div>
