<div class="navbar">
  <h2>JobPortal</h2>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/jobs">Browse Jobs</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
</div>
