<div class="job-card">
  <div class="job-title"><%= job.title %></div>
  <div class="job-company"><i class="fas fa-building"></i> <%= job.company %></div>
  <div class="job-location"><i class="fas fa-map-marker-alt"></i> <%= job.location %></div>
  <div class="salary"><i class="fas fa-dollar-sign"></i> <%= job.salary %></div>
  <a class="apply-btn" href="#">Apply Now</a>
</div>
